
hr{border-style: none;}



.split {
  position: fixed;
		left: 0;
		right: 0;
		height: 50%

}
.hover2:hover{
background-color: #F6F54D;

}
.left {
  top: 0;
  background-color: #143F6B;
}

.right {
  bottom: 0;
  background-color: #F55353;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
